<h1>All Cocktails <i class="fa fa-glass fa-1x" aria-hidden="true"></i></h1>


<div class="row">
  <div class="col-lg-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->



<%= link_to "Create Cocktail", new_cocktail_path, class:"btn btn-primary" %>

<br>


<% @cocktails.each do |cocktail| %>
<i class="fa fa-glass" aria-hidden="true"></i>  <%= link_to cocktail.name, cocktail_path(cocktail) %>
<br>



<% end %>
<br>


<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
